@font-face {
    font-family: 'poppins';
    src: url(../../font/poppins.ttf);
}
@font-face {
    font-family: 'alkatra';
    src: url(../../font/alkatra.ttf);
}
@font-face {
    font-family: 'nunito';
    src: url(../../font/nunito.ttf);
}