$colores: 
#FDFFB6,
#BDB2FF,
#FFC6FF;

$ft-color: 
white, 
black;

$ft-family: 
'poppins',
'alkatra', 
'nunito';

$ft-size: 
1rem,
2rem,
3rem,
4rem,
5rem;

$border-r: 
1rem,
2rem,
3rem,
4rem,
5rem, 
0rem;